/*
rgb(33, 96, 136) blue
rgb(220, 160, 80) pink/orange 
 
*/

*{
  background: rgb(33, 96, 136);
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.1em;
  font-weight:750;
  background: white;
  height: 8.2vh;
}

.form {
  color: rgb(33, 96, 136);
  background-color: white;
}

.link_nav {
  color: rgb(44, 123, 172);
  background: white;
  text-decoration: none;
  float: right;
  display: flex;
  align-items:center; 
  padding: 1%;
  padding-right: 2%;
}

#logg_out_nav {
  padding-left: 30%;
  padding-right: 3%;
}

#logo_nav {
  height: 4vh;
  width: auto;
}

#logo {
  float: left;
  padding-top: 2vh;
  padding-left: 2vw;
}

.dropbtn {
  background-color: white;
  color: rgb(33, 96, 136);
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:750;  
  font-size: 1.0em;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(33, 96, 136);
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; background-color: white;}

.dropdown:hover .dropbtn {background-color: white;}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: rgb(220, 160, 80);
  color: white;
  line-height: 1.5;
  border: solid rgb(33, 96, 136);
  padding-top: 5vh;
  padding-left: 3vw;
}

.link {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  padding-left: 3vw;
  background-color: rgb(220, 160, 80);
}   

.social_icons {
  display: flex;
  height: auto;
  border-radius: 25%;
  padding-bottom: 1%;
  width: 3vw;
  background-color: rgb(220, 160, 80);
}
.social_icon{
  background-color: rgb(220, 160, 80);
}

.icons_line {
  line-height: 4;
  background-color: rgb(220, 160, 80);
  display: flex;
  align-items: center;
  background-color: rgb(220, 160, 80);
}

.footer_headline {
  font-size: 4vh;
  background-color: rgb(220, 160, 80);
}

h1 {
  padding-top: 5vh;
}

.normal {
  padding-left: 2.8vw;
  overflow: visible;
}

.forms{
  color: black;
}

.box{
  background-color: white;
  color: black;
}

.laws_design{
  margin-left: 0.5vw;
}

#button_district{
  width: auto;
  height: auto;
}

#background{
  background-color: white;
  width: 20vw;
  height: 42vh;  
  padding: 1%;
}

#img_flag{
  border: 4px solid rgb(147, 137, 124);
  width: 30vw; 
  float: right;
  margin-top: 20vh;
  margin-right: 15vw;
}


.jobbig{
  color: rgb(220, 160, 80);
  text-decoration: none;
  background-color: white;
}

.lagnamnet{
  text-decoration: underline;
  font-size: 125%;
}