div class="normal"
    br/
    br/
    h2 #{result["law_name"]}
    br/

    h3 Description 
    p #{result["description"]}  

    br/
    br/

    p #{result["law_name"]} belongs to the districts;
    br/
    p #{result2["district_name"]} 
    /! Hade varit bra om den var en länk till en sida med alla lagar på ekonomi
    /! Dessutom måste alla distrikt nämnas och inte bara som detta fallet, 1. 

    br/
    p which is handle by;